{% extends "blog/base.html" %}
{% block content %}



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- Carde -->
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Checked out my document</h5>
          <p class="card-text">Number of Document 12 </p> 
          <a href="#" class="btn btn-primary">View detals</a> 
        </div> 
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Group</h5>
            <p class="card-text">Number of Document 12 </p> 
            <a href="#" class="btn btn-primary">View detals</a> 
          </div> 
        </div>
      </div>

      <div class="col-sm-6 mb-3 mb-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total User</h5>
            <p class="card-text">Number of Document 12 </p> 
            <a href="#" class="btn btn-primary">View detals</a> 
          </div> 
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-6">
      
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total roles</h5>
            <p class="card-text">Number of Document 12 </p> 
            <a href="#" class="btn btn-primary">View detals</a> 
          </div> 
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Doucment Types</h5>
            <p class="card-text">Number of Document 12 </p> 
            <a href="#" class="btn btn-primary">View detals</a> 
          </div> 
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total document</h5>
            <p class="card-text">Number of Document 12 </p> 
            <a href="#" class="btn btn-primary">View detals</a> 
          </div> 
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total pages</h6>
            <p class="card-text">Number of Document 12 </p> 
            <a href="#" class="btn btn-primary">View detals</a> 
          </div> 
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-6">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">New document thes month</h6>
            <p class="card-text">Number of Document 12 </p> 
            <a href="#" class="btn btn-primary">View detals</a> 
          </div> 
        </div>
      </div>
    



<!-- 
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With .</p>
          <a href="#" class="btn btn-primary">View detals</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">Witht.</p>
            <a href="#" class="btn btn-primary">View detals</a>
          </div>
        </div>
      </div>

    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">Witht.</p>
            <a href="#" class="btn btn-primary">View detals</a>
          </div>
        </div> 
    </div> -->

  
</div>



{% endblock content %}