{% extends "blog/base2.html" %}
{% block content %}

  <div class="container">
    <div class="row">
     {% for x in Addproduct2 %}
        <div class="col-md-3">
            <div class="card m-2">
              <img src="https://via.placeholder.com/150" alt="Placeholder Image">
                <div class="card-body">
                  <h3>{{ x.price }} RS</h3>
                  <a> {{ x.name }} || 2 bath || 500m</a>
                  <a>Built in 1949</a>
                  <a>Location: Corvaills, OR</a>
                  <P>Discraptions: </P>
                  <a href="#" class="button">more...</a>
                </div>
            </div>
          </div>
      {% endfor %}
    </div>

  </div>

{% endblock content %}