{% extends "blog/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<h1>Lad post</h1>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card m-2">
              <img src="https://via.placeholder.com/150" alt="Placeholder Image">
                <div class="card-body">
                  <h3>{{ object.price }} RS</h3>
                  <a>{{ object.name }}|| 2 bath || 500m</a>
                  <a>Built in 1949</a>
                  <a>Location: Corvaills, OR</a>
                  <P>Discraptions: {{ object.description }}</P>
                </div>
            </div>
          </div>
    </div>
  </div>






{% endblock content %}